.qp_btn {
  padding: 0 10px;
  @include border-radius(3px);
  border-bottom: 3px solid #e4e4e4;
  background-color: #f0f0f0;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;

  i {
    margin-right: 10px;
  }
}

.data-hidden {
  display: none;
}



